default_stages: [commit, push]
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: check-added-large-files
      - id: debug-statements

  - repo: local
    hooks:
    - id: black
      name: black
      entry: black
      language: system
      exclude: ^(venv/|docs/)
      types: ['python']

    - id: isort
      name: isort
      entry: isort
      language: system
      exclude: ^(venv/|docs/)
      types: ['python']

    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: ['python']

    - id: bandit
      name: bandit
      entry: bandit
      language: system
      args: ['-c',  'pyproject.toml']
      types: ['python']

    - id: xenon
      name: xenon
      args: [--max-absolute B --max-modules A --max-average A]
      entry: xenon
      language: system
      types: ['text']

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.910
    hooks:
      - id: mypy
        args: [--config-file=pyproject.toml]
        additional_dependencies: [types-PyYAML]
        exclude: "tests" # for some reason - doesnt work in config file
